    iframe {
        position: absolute;
        width: 120%;
        height: 120%;
        position: fixed;
        margin-top: -23%;
        margin-left: -10%;
    }
    ins { color: white;
            background: linear-gradient(to top left, pink 0%,);
            text-shadow: rgb(0, 0, 0) 3px 3px;
            border-radius: 50%;
        }
    h1 {
        text-align: center;
        font-size: 60px;
        position: static;
        margin-top: 17%;
        position: relative;
    }
    h2 {
        text-align: center;
        position: relative;
    }
    input { width: 20%; height: 10%; font-size: 200%; border-radius: 50px;}
